<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target type="Console" name="consoleLogger" layout="${threadid:padding=3}::${processtime}::${message}" />
		</targets>
		<rules>
			<!--<logger name="NEventStore.*" minlevel="Trace" writeTo="consoleLogger"  />-->
			<!--<logger name="NEventStore.Persistence.AzureBlob.*" minlevel="Error" writeTo="consoleLogger"  />-->
			<logger name="AlphaTester.*" minlevel="Trace" writeTo="consoleLogger" />
		</rules>
	</nlog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<!--<add name="EventStore_SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0; Integrated Security=True; Initial Catalog=precheck_eventstore" /> -->
		<add name="EventStore_SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=q2116hev6p.database.windows.net,1433;User ID=_passwordIsRgRocks;Password=RapidgateRocks!;Integrated Security=False;MultipleActiveResultSets=True; Initial Catalog=es_testing" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>